<h4>
  Planned Travel Schedule.
</h4>

<ul>
  <li>
    <b>March 2017. San Diego, CA</b><br />
    San Diego Leather Pride Weekend.(Contestant Wrangling)
  </li>
  <li>
    <b>March, 2017. Los Angeles, CA</b><br/>
    Ms LA Leather Contest.
  </li>
  <li>
    <b>April, 2017. San Jose, CA.</b><br>
    IMsL/IMsBB Weekend (Photo Team)
  </li>
  <li>
    <b>April 2017. Los Angeles, CA.</b><br>
    Leather HEAT. (Stepdown)
  </li>
  <li>
    <b>May 5-7 2017. Sacremento, CA.</b><br>
    North West Leather Celebration.
  </li>
  <li>
    <b>May 19-21 2017. Santa Cruz, CA.</b><br>
    Edgewalkers.
  </li>
  <li>
    <b>May 26-29 2017. Chicago, CA.</b><br>
    International Mr Leather / International Mr Bootblack.
  </li>
  <li>
    <b>June 24-25 2017. San Francisco, CA.</b><br>
    SF Pride
  </li>
  <li>
    <b>July 7-9. San Bernadino, CA.</b><br>
    Central Coast Kink July 4th
  </li>
  <li>
    <b>July 7-9 2017. Reno, NV.</b><br>
    Impact Reno (Teaching)
  </li>
  <li>
    <b>July 28-30 2017. SF, CA.</b><br>
    Dore Alley
  </li>
  <li>
    <b>August 4-6 2017. Dallas, TX.</b><br>
    WILL
  </li>
  <li>
    <b>August 4-6 2017. Portland, OR.</b><br>
    Oregon State Leather
  </li>
  <li>
    <b>September 1-3 2017. Dallas, TX.</b><br>
    ILsB - ICBB (Teaching)
  </li>
  <li>
    <b>September 9-11 2017. Las Vegas, CA.</b><br>
    <a href="http://www.lucoflv.com"></a>Leather Uniform Club of Las Vegas</a>(Teaching)
  </li>
  <li>
    <b>September 22-24 2017. San Francisco, CA.</b><br>
    Folsom Street Faire
  </li>
  <li>
    <b>September 29-1 2017. IN.</b><br>
    Great Lakes Leather Alliance
  </li>
  <li>
    <b>November 2017. San Francisco, CA.</b><br>
    Dark Odyssey: Surrender
  </li>
  <li>
    <b>December 2017. San Diego, CA.</b><br>
    Club X: X-rated
  </li>
  <li>
    <b>January 2017. San Francisco, CA.</b><br>
    Ms SF Leather
  </li>
  <li>
    <b>January 2017. San Francisco, CA.</b><br>
    Southwest Leather Conference
  </li>
</ul>
